.listOfThings {
	font-family: 'Lakki Reddy', cursive;
	font-size: 28px;
	color: #35496B;
	width: 55vw;
	background: #C9C783;
	border: solid 10px #495E5E;
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
}
