<html ng-app="myApp">
	<body ng-controller="myController">


<input type="text" placeholder="Filter Name" ng-model="filtering.name">
<input type="text" placeholder="Filter email" ng-model="filtering.email">
<input type="text" placeholder="Filter Phone" ng-model="filtering.phone">


<ul ng-repeat="person in people | filter:filtering">
	<li> {{ person.name }} </li>
	<li> {{ person.email }} </li>
	<li> {{ person.phone }} </li>

</ul>


				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>